{% if site.data.settings.about.enable == true %}
<div class="container-big">
  <!-- begin about -->
  <section class="section about">
    <div class="container">
      <div class="row">
        <div class="col col-12">
          <div class="about__inner">
            <div class="section__info">
              {% if site.data.settings.about.about_title %}
                <h2 class="section__title">{{ site.data.settings.about.about_title }}</h2>
              {% endif %}
              {% if site.data.settings.about.about_description %}
                <p class="section__description">{{ site.data.settings.about.about_description }}</p>
              {% endif %}
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about -->
</div>
{% endif %}