{% assign about = site.sections | where: "section_type", "about" | first %}
{% if about and about.about_image %}
<div class="container-big">
  <!-- begin about -->
  <section class="section about">
    <div class="container">
      <div class="row">
        <div class="col col-12">
          <div class="about__inner">

            <div class="col col-6 col-t-8 col-m-10 push-3 push-t-2 push-m-1">
              <div class="about__image">
                <img class="lazy" data-src="/{{ site.assets.images }}/{{ about.about_image }}" alt="{{ about.about_title }}">
              </div>
            </div>

            <div class="section__info">
              <h2 class="section__title">{{ about.about_title }}</h2>
              <p class="section__description">{{ about.about_description }}</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about -->
</div>
{% endif %}