{% if site.data.settings.faq.faq_items.size > 0 %}
<div class="container-big">
  <!-- begin section faq -->
  <section class="section faq">
    <div class="container">
      <div class="row">
        <div class="col col-12">

          <div class="section__info">
            <h2 class="section__title">{{ site.data.settings.faq.faq_title }}</h2>
            <p class="section__description">{{ site.data.settings.faq.faq_description }}</p>
          </div>

          <div class="faq__inner">
            <div class="row">
              {% for item in site.data.settings.faq.faq_items %}
              <div class="col col-6 col-d-12">
                <div class="faq__item">
                  <h3 class="faq__title">{{ item.title }}</h3>
                  <p class="faq__description">{{ item.description }}</p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- end section faq -->
</div>
{% endif %}