---
layout: default
title: Building Bridges, Empowering Communities
description: Welcome to the official blog of Andres Castro, a candidate for U.S. Representative in Georgia’s 5th Congressional District. This is where ideas take root, stories of resilience inspire action, and bold policies pave the way for a brighter future. Join me as we tackle pressing issues like education reform, housing affordability, economic justice, and civil rights. Together, we can create a community where every voice matters and every dream has a chance to thrive. Let’s build a future that works for all of us.
image: '/images/about-me-photo.jpg'
---

<div class="container">
  <div class="page-head">
    {% if page.title %}
      <h1 class="page-title">{{ page.title }}</h1>
    {% endif %}
    {% if page.description %}
      <p class="page-description">{{ page.description }}</p>
    {% endif %}
  </div>
</div>

<div class="container blog-page">
  <div class="row grid">
    {% if site.posts.size > 0 %}
      {% for post in paginator.posts offset:0 %}
        {% include article.html %}
      {% endfor %}
    {% endif %}
  </div>
</div>

{% include pagination.html %}